@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #0D9488;
    --color-primary-glow: rgba(13, 148, 136, 0.6);
    --color-background: #100C1C;
    --color-glass-bg: rgba(26, 22, 37, 0.6);
    --color-glass-border: rgba(255, 255, 255, 0.1);
    --color-card-text: #F1F5F9;
  }

  body {
    @apply font-sans;
    background-color: var(--color-background);
    background-image: radial-gradient(circle at 15% 50%, rgba(240, 0, 184, 0.6), transparent 35%),
      radial-gradient(circle at 85% 30%, rgba(45, 212, 191, 0.4), transparent 40%),
      radial-gradient(circle at 50% 90%, rgba(91, 33, 182, 0.5), transparent 45%);
    background-attachment: fixed;
    color: var(--color-card-text);
  }

  [dir='rtl'] body {
    @apply font-arabic;
  }
}

@layer components {
  .glass-card {
    background: var(--color-glass-bg);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid var(--color-glass-border);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .glass-card:hover {
    transform: translateY(-5px);
    border-color: var(--color-primary);
  }
}
